<img class="d-block mx-auto pt-5 img-fluid w-50" src="/assets/SakeColle.png" alt="ブランドロゴ">
<div class="d-block mx-auto pt-5 img-fluid w-50" >
  <%= image_tag 'SakeColle.png', :size => '150x150' %>
</div>
<div class="container">
  <div class="row">
    <div class="btn-wrapper col-7 mx-auto">
      <div class="row">
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mt-5 mb-3 sign_in", method: :post %>
      </div>
      <div class="row">
        <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div class="row">
        <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
      </div>
    </div>
  </div>
</div>


