/*// Place all the styles related to the public/users controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: https://sass-lang.com/*/
.amount_index{
  width: 50px;
  height: 50px;
}

.gear{
  font-size: 35px;
  color: #708090;
  margin-top: 15px;
}

.number{
  color: #a9a9a9;
}

.introductuion{
  margin-bottom: 40px;
}

header{
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav{
  font-size: 70px;
  color: #708090;
}

.nav1{
  margin-top: 70px;
}

.nav2{
  color: #708090;
}

.nav3{
  font-size: 30px;
  color: #708090;
  margin-left: 30px;
}

.img{
  padding-top: 30px
}

@media screen and (min-width: 760px) {
  .bottle{
    padding-top: 50px;
  }
  .time_elapse{
    padding-top: 65px;
  }
}

.profimg{
  border-radius: 50%;
}

.card{
  padding: 10px;
}

.dead{
  padding-top: 60px
}

.fa-comment-dots{
  font-size: 20px;
}

.loading {
    display: none;
}

.btn-follow{
  margin-top: 20px;
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.commentbox {
  width: 550px;                /* 横幅を200pxに指定*/
  height: 200px;               /* 横幅を200pxに指定 */
  padding: 20px;
  border: 1px solid #dcdcdc;      /* わかりやすくボーダーを引く */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;          /* 縦方向にスクロール可能にする */
}


/*タブ切り替え*/
.tab {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  background-color: #a9a9a9;
  color: #FFF;
}
.tab:first-child {
  border-left: none;
}
.tab-left{
  margin-left: 17px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tab-right{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*タブがactiveのときのデザイン*/
.tab-active {
  color: #FFF;
  background: #696969;
  transition: all 0.2s ease-in-out;
}
/*19b5d1*/
/*タブの中身、最初は非表示*/
.tabbox {
  display: none;
  padding: 15px;
}
/*box-showクラスのものだけ表示*/
.box-show {
  display: block;
}
/*hover時のアクション*/
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}
/*在庫多過ぎアラートのCSS*/
.alert{
  padding-left: 30px;
}
.pagenation{
  display: flex;
  justify-content: center;
}