<div class="introductuion">
  <div class="container">
    <div class=" justify-content-start">
      <div class="col-md-auto offset-md-2">
        <%= user.introduction %><br>
      </div>
    </div>
  </div>
</div>