<div class="introductuion">
  <div class="container">
    <div class=" justify-content-start">
      <div class="col-md-auto offset-md-2">
        <div class="text-break">
          <%= simple_format(user.introduction) %>
        </div>
      </div>
    </div>
  </div>
</div>